* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full height of the viewport */
}

.top-section {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.body-section {
  flex: 1; /* Takes up remaining space in the container */
  padding: 20px;

  .login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 1px solid red;

    .login-container {
      border: 1px solid green;
      padding: 10px;
      display: flex;
      flex-direction: column;
      align-items: center;

      .custom-input-container {
        position: relative;
        width: 300px;
        margin-bottom: 20px;
      }

      .custom-input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        transition: border-color 0.3s ease;
        padding-left: 40px; /* Adjusted padding for icon */
        box-sizing: border-box;
      }

      .custom-input:focus {
        border-color: #3498db;
      }

      .input-icon {
        position: absolute;
        top: 50%;
        left: 10px;
        color: #666;
      }

      .custom-label {
        font-size: 14px;
        margin-bottom: 5px;
        color: #333;
      }
    }
  }
}

/* Add responsive styles if needed */
@media only screen and (max-width: 600px) {
  /* Adjust styles for smaller screens */
  .top-section {
    font-size: 14px;
  }

  .body-section {
    padding: 10px;
  }
}
